
%section
  %header.profile-header
    .profile-image{:style => "background-image:url(http://i62.tinypic.com/15x8om1.jpg)"}
      .stats
        %h3
          Wins: 
          %br
          =@user.total_wins
          %br
          Losses:
          %br
          =@user.total_losses
          %br
          Total Games:
          %br
          =@user.total_games
          %br
          Win Rate:
          ='%02f' % (@user.win_rate * 100) + '%'



    .profile-info
      %h1
        %img(src="http://i.imgur.com/bdUSt1u.png")
        =@user.handle
      %h3
        %img(src="http://i62.tinypic.com/2j3r9dl.png")
        =@user.email
        %br
        %img(src="http://i60.tinypic.com/102v90m.png")
        #{link_to "Edit Profile", edit_user_path}

      %p
      .about
        %h2 About me:
        =@user.bio
      %p
      - if current_user
        %h4 New Comment
        =simple_form_for Comment.new(author_id: current_user.id, subject_id: params[:id]), url: '/comments' do |f|
          .field
            = f.text_area :comment
          .hidden{hidden: true}
            =f.input :author_id
            =f.input :subject_id
          .actions
            = f.submit
      - else
        %p
          Please #{link_to "log in", new_session_path} to add a comment.
      .comments
        =render @comments

:css
body {
  background-image: url("http://i62.tinypic.com/2ilelbk.png");
  
  background-repeat: no-repeat;
  background-size: cover; 
  overflow: hidden;
  }

  main.app {
  overflow: scroll;

  
}

/ %h1= @user.handle
/ %h1= @user.email

/ %h1 About me
/ %p= @user.bio

/ = image_tag @user.avatar.url(:thumb)
/ %br
/ %a{:href => edit_user_path} Edit Profile

/ =render @comments
/ / = link_to "Add Friend", friendships_path(:friend_id => user), :method => :post

/ / %h2 Friends
/ / %ul
/ /   - for friendship in @user.friendships
/ /     %li
/ /       = h friendship.friend.username
/ /       (#{link_to "remove", friendship, :method => :delete})
/ / %p= link_to "Find Friends", users_path

/ / - @user.comments.order("created_at desc").each do |comment|
/ /   %p
/ /   = comment
/ /   %br/

/ - if current_user
/   %h4 New Comment
/   =simple_form_for Comment.new(author_id: current_user.id, subject_id: params[:id]), url: '/comments' do |f|
/     .field
/       = f.label :comment
/       %br/
/       = f.text_area :comment
/     .hidden{hidden: true}
/       =f.input :author_id
/       =f.input :subject_id
/     .actions
/       = f.submit
/ - else
/   %p
/     Please #{link_to "log in", new_session_path} to add a comment.

