
= form_tag user_sessions_path do

  .form-wrapper
    %h1 Sign In
    .field
      = label_tag :handle
      = text_field_tag :handle
    .field
      = label_tag :email
      = text_field_tag :email
    .field
      = label_tag :password
      = password_field_tag :password
    %label{:for => :remember_me}
    Remember me
    %input{:name => :remember_me, :required => "required", :type => "checkbox"}
    .button-panel
      %input.button{:title => "Sign In", :type => "Submit", :value => "Sign In"}
    .form-footer
      %p
      %a{:href => new_user_path} Create an account
      %p
      %a{:href => new_password_reset_path} Forgot password?



