%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spectacula
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: [controller_name + " " + action_name]}
    %p.alert
      = flash[:alert]
    %p.notice
      = flash[:notice]

    .navbar
      = link_to "Play Now", new_game_path
      = link_to "Rules", rules_path
      %a{:href => "#"}
        - if current_user
          Logged in as #{current_user.handle}.
          \#{link_to "Log out", :logout, method: :post}
        - else
          = link_to "Sign up", signup_path
          \#{link_to "Log in", login_path}.

    = yield


