%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spectacula
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.clearfix{class: [controller_name + " " + action_name]}
    %header.centered-navigation{:role => "banner"}
      .centered-navigation-wrapper
        %a.mobile-logo{:href => "/landing"}
          %img{:alt => "Logo image", :src => "http://i58.tinypic.com/r9ra84.png"}/
        %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"} MENU
        %nav{:role => "navigation"}
          %ul#js-centered-navigation-menu.centered-navigation-menu.show
            %li.nav-link
              %a{:href => "/leaderboard"} Leaderboards
            %li.nav-link
              %a{:href => "/games/new"} Games
            %li.nav-link.logo
              %a.logo{:href => "/landing"}
                %img{:alt => "Logo image", :src => "http://i58.tinypic.com/r9ra84.png"}/
            %li.nav-link
              %a{:href => "/rules"} Rules
              -# %ul.submenu
              -#   %li
              -#     %a{:href => "javascript:void(0)"} Submenu Item
              -#   %li
              -#     %a{:href => "javascript:void(0)"} Another Item
              -#   %li.more
              -#     %a{:href => "javascript:void(0)"} Item with submenu
              -#     %ul.submenu
              -#       %li
              -#         %a{:href => "javascript:void(0)"} Sub-submenu Item
              -#       %li
              -#         %a{:href => "javascript:void(0)"} Another Item
              -#   %li.more
              -#     %a{:href => "javascript:void(0)"} Another submenu
              -#     %ul.submenu
              -#       %li
              -#         %a{:href => "javascript:void(0)"} Sub-submenu
              -#       %li
              -#         %a{:href => "javascript:void(0)"} An Item
            %li.nav-link
              %a.userinfo
                - if current_user
                  =link_to "Welcome #{current_user.handle}", user_path(current_user)
                  \#{link_to "Log out", :logout, method: :post}
                - else
                  -# .modal
                  -#   %label{:for => "modal-1"}
                  -#     .modal-trigger Sign In/Sign Up
                  -#   %input#modal-1.modal-state{:type => "checkbox"}/
                  -#   .modal-fade-screen
                  -#     .modal-inner
                  -#       .modal-close{:for => "modal-1"}
                  -#       %h1 Modal Title
                  -#       %p.modal-intro Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
                  -#       %p.modal-content Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
                  = link_to "Sign up", signup_path
                  \#{link_to "Log in", login_path}

    .flashes
      %p.alert= flash[:alert]
      %p.notice= flash[:notice]
    %main.clearfix.app
      = yield
    %footer

